.slider-area {
  position: relative;
  overflow: hidden;
  height: auto;
  margin-top: 88px;
}
.slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  /* border: 1px solid red; */
}
.slider-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
}

.slider-track {
  position: relative;
  left: 50%;
  top: 0;
  display: flex;
  flex-direction: row;
  text-align: left;
  width: fit-content;
  /* transition: -webkit-transform 500ms ease 0s; */
  /* transition: transform 500ms ease 0s; */
  /* border: 2px solid salmon; */
}

.slider-auto {
}

.slider-item {
  position: relative;
  height: 412px;
  padding: 0 12px;
  float: left;
  -webkit-filter: brightness(50%);
  filter: brightness(20%);
}

.btn-slide-control {
  position: absolute;
  top: calc(50% - 56px);
  padding: 20px 4px;
  z-index: 1;
  background-color: #23242b;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #24d982;
  cursor: pointer;
}

.btn-prev {
  transform: rotate(180deg);
  left: calc((100% - 1600px) / 2);
}

.btn-next {
  right: calc((100% - 1600px) / 2);
}

.slider-item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 412px;
  color: white;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
}
.slider-item span {
  font-size: 18px;
  margin-bottom: 1rem;
}
.current-slide {
  -webkit-filter: none;
  filter: none;
}

.imgclass {
  width: 857px;
  height: 412px;
  object-fit: cover;
}
