* {
  font-family: "맑은 고딕", "Malgun Gothic", "Noto Sans", sans-serif;
  /* font-family: "Gothic A1", sans-serif; */
  /* font-family: "Nanum Gothic", sans-serif; */
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

body {
  /* overflow-y: scroll; */
}
html {
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
